@import "tailwindcss";
@import "tw-animate-css";

@theme{
  /* this color is used as additional */
  --color-electric-blue: #22A1D4;
  /* this color: navbar */
  --color-dark-black: #0B0B0B;
  /* this color: grid elements */
  --color-dark-grey: #171717;
  /* this color: borders*/
  --color-gray: #2A2A2A;
}


body {
  background: #101010;
  color: #fff;
}